<div>
    <button mat-raised-button (click)="backToList()">Back</button>
</div>

<mat-tab-group *ngIf="isComplete; else spinner">
    <mat-tab label="Retail">
        <retail-container></retail-container>
    </mat-tab>
    <mat-tab label="Books" *ngIf="videoGameDetails.hasBooks">
        <test-container
            [content]="'books'"
            [title]="title"
        ></test-container>
    </mat-tab>
    <mat-tab label="Music" *ngIf="videoGameDetails.hasMusic">
         <test-container
            [content]="'music'"
            [title]="title"
         ></test-container>
    </mat-tab>
    <mat-tab label="Contents" *ngIf="videoGameDetails.hasContents">
        <test-container
            [content]="'contents'"
            [title]="title"
        ></test-container>
   </mat-tab>
   <mat-tab label="Variants" *ngIf="videoGameDetails.hasVariants">
        <variants-container
            [title]="title"
        ></variants-container>
</mat-tab>
</mat-tab-group>

<ng-template #spinner>
    <mat-spinner></mat-spinner>
</ng-template>