<div class="container">
    <div>
        While there are strategy guides available for games 
        <br>
        like Power Monger, NBA Jam, and Mortal Kombat, a guide 
        <br>
        must explicitly indicate its compatibility with the 
        <br>
        Sega CD version to be included in this list.
        <br>
        <br>
        Click <a href="books">here</a> to see a list of encyclopedias and
        <br>
        miscellaneous resources associated with the Sega CD. 
    </div>
</div>