td {
    cursor:pointer;
}

.info {
    cursor: pointer;
}

th {
    //border: 5px green solid;
    background-color:white !important;
    //flood-color: green;
}

tr:nth-child(odd){
    background-color:rgba(rgb(0,104,185), .2);
}

tr:nth-child(even){
    background-color:rgba(rgb(0,130,214), .2);
}